[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "torch"]
	path = torch
	url = https://github.com/mlverse/torch
	shallow = true
[submodule "torchdatasets"]
	path = torchdatasets
	url = https://github.com/mlverse/torchdatasets
	shallow = true
[submodule "torchvision"]
	path = torchvision
	url = https://github.com/mlverse/torchvision
	shallow = true
